/* *{border :1px solid black} */


.container{
    display: flex;
    flex-direction: row;
}

.containerDouble{
    display: flex;
    flex-direction: row;
}

.redSide{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.greenyellow{
    height: 15%;
    width: 80%;
    background-color: greenyellow;
}
.lightblue{
    height: 15%;
    width: 20%;
    background-color: lightblue;
}
.red{
    height: 30% ;
    width: 40%;
    background-color: red;
}
.orange{
    height: 15%;
    width: 50%;
    background-color: orange;
}
.gray{
    height: 15%;
    width: 50%;
    background-color: gray;
}
.amber{
    height: 15%;
    width: 33.33%;
    background-color: sandybrown;
}

.green{

    height: 15%;
    width: 33.33%;
    background-color: green;
}

.darkred{
    height: 15%;
    width: 33.33%;
    background-color: sienna;
}
.grey{
    height: 45%;
    width: 100%;
    background-color: grey;
}
