/* *{border :1px solid black} */


.container{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6,20vh);
    justify-content: stretch;
}

.greenyellow{
    background-color: greenyellow;
    grid-area: 1/8/1/1 ;
}

.lightblue{
    background-color: lightblue;
    grid-area: 1/8/1/10;
}

.red{
    background-color: red;
    grid-area: 2/1/4/4;
}
.orange{
    background-color: orange;
    grid-area: 2/4/2/7;
}

.gray{
    background-color: gray;
    grid-area: 2/7/2/10;
}

.amber{
    background-color: lightsalmon;
    grid-area: 3/4/3/6;
}
.green{
    background-color: green;
    grid-area: 3/6/3/8;
}

.darkred{
    background-color: darkred;
    grid-area: 3/8/3/10;
}

.grey{
    background-color: grey;
    grid-area: 4/1/7/10;
}