/* *{border :1px solid black} */


.container{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    /* grid-gap: 10px; */
    grid-auto-rows: minmax(100px,auto);
    justify-content: stretch;
}

.greenyellow{
    background-color: greenyellow;
    grid-column: 1 / 8;
    grid-row: 1 / 1;
}

.lightblue{
    background-color: lightblue;
    grid-column: 8/10 ;
    grid-row: 1/1;
}

.red{
    background-color: red;
    grid-column: 1/4;
    grid-row: 2/4;
}
.orange{
    background-color: orange;
    grid-column: 4/7 ;
    grid-row: 2/2 ;
}

.gray{
    background-color: gray;
    grid-column: 7/10;
    grid-row: 2/2;
}

.amber{
    background-color: lightsalmon;
    grid-column: 4/6;
    grid-row: 3/3;
}
.green{
    background-color: green;
    grid-column: 6/8;
    grid-row: 3/3;
}

.darkred{
    background-color: darkred;
    grid-column: 8/10;
    grid-row: 3/3;
}

.grey{
    background-color: grey;
    grid-column: 1/10;
    grid-row: 4/7;
}