.container{
    display: flex;
    flex-direction: row;
}
.greenyellow{
    height: 15%;
    width: 70%;
    background-color: greenyellow;
}
.lightblue{
    height: 15%;
    width: 30%;
    background-color: lightblue ;
}
.red{
    height: 15% ;
    width: 40%;
    background-color: red;
}
.orange{
    height: 15%;
    width: 30%;
    background-color: orange;
}
.gray{
    height: 15%;
    width: 30%;
    background-color: gray;
}
.amber{
    height: 15%;
    width: 20%;
    background-color: sandybrown;
}

.green{

    height: 15%;
    width: 20%;
    background-color: green;
}

.darkred{
    height: 15%;
    width: 20%;
    background-color: sienna;
}
.grey{
    height: 45%;
    width: 100%;
    background-color: grey;
}
